.content-general{

		.content-one{
			.header{
				z-index: 9999;
					.navbar{
					width: 100%;
					height: 60px;
					display: grid;
					grid-template-columns: 85% 15%;
					@media(min-width: $tablet){
						grid-template-columns: 25% 75%;
					}

					.container-logo{
						display: flex;
						justify-content: flex-start;
						align-items: center;
						font-size: 1.7rem;
						color: $color-light-one;
						padding-left: 1rem;
						img{
							width: 150px;
							height: 40px;
							margin-top: 10px;
							@media(min-width: $tablet){
								width: 200px;
								height: 50px;
							margin-top:0; 
						}
						}
					}
					.container-menu{
						display: flex;
						justify-content: center;
						align-items: center;
						color: $color-light-one;
						i{
							font-size: 1.7rem;
						}
						@media(min-width: $tablet){
						display: none
						}
					}
				}
			}
		}

	.content-banner-primary-about-us{
		width: 100%;
		height: 300px;
		background: url("../images/banner-about-us.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		@media(min-width: $tablet){
			background-size: 100% 100%;
			width: 100%;
			height: 100vh;
		}

		.content-about-us-banner{
			width: 100%;
			height: 100%;
			
			.container-title-content{
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 1rem;
				width: 100%;
				height: 100%;
				@media(min-width: $tablet){
				padding: 0;
				}
			
				.item-title{
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 90%;
					height: auto;
					color: $color-light-one;
		
					.text-title{
						font-weight: 800;
						font-size: 1.5rem;
						text-align: center;
						@media(min-width: $tablet){
						font-size: 3.7rem;
						}
					}
					.text-sub-title{
						font-family: $font-family-secundary;
						font-weight: 300;
						font-size: .8rem;
						@media(min-width: $tablet){
						font-size: 1rem;
						}
					}
				}
			}
		}

	}


	.content-about-us-page{
			width: 100%;
			display: flex;
			justify-content: center;
			background: $color-light-one;
			.container-team{
				padding: 2rem 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				@media(min-width: $tablet){
						padding: 5rem 0px;
						width: 80%;
						justify-content: space-between;
					}
				.item-member{
					width: 100%;
					height: 350px;
					display: grid;
					grid-template-rows: 70% 30%;
					color: $color-dark-one;
					margin: 1rem 0;
					@media(min-width: $mobile){
						width: 200px;
						height: 250px;
						margin: 1rem 5px;
					}
					.img-item{
						img{
							width: 100%;
							height: 100%;
						}
					}
					.description-item{
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						.name-member{
							width: 100%;
							font-size: 1.5rem;
							text-align: center;
						}
						.rol-member{
							width: 100%;
							font-size: 1.2rem;
							text-align: center;
							font-weight: 100;
							font-family: $font-family-secundary;
						}
					}
				}
			}
		}

		.content-text-bottom-about-us{
			width: 100%;
			height: auto;
			display: flex;
			justify-content: center;
			background: url("../images/banner-about-us-bottom.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			@media(min-width: $tablet){
				background-size: 100% 100%;
				width: 100%;
			}
			.container-items-bottom-about-us{
				padding: 5rem 0;
				display: grid;
				grid-template-rows:calc(100% / 3);
				justify-content: center;

				@media(min-width: $tablet){
					grid-template-rows:100%;
					grid-template-columns:repeat(3,33.33%);
					width: 80%;
					justify-content: center;
				}
				.item-text{
					color: $color-light-one;
					margin: 3rem 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					@media(min-width: $tablet){
							margin:0;
							padding: 1rem 2rem;
						}
					.item-title{
						font-size: 1.2rem;
						font-weight: 800;
						text-align: center;
					}
					.item-description{
						font-size: .9rem;
						font-family: $font-family-secundary;
						font-weight: 100;
						text-align: center;
						width: 80%;
						@media(min-width: $tablet){
							font-size: 1rem
						}
					}
				}

			}
		}

}