.content-general{

		.content-one{
			.header{
					.navbar{
					width: 100%;
					height: 60px;
					display: grid;
					grid-template-columns: 85% 15%;
					@media(min-width: $tablet){
						grid-template-columns: 25% 75%;
					}

					.container-logo{
						display: flex;
						justify-content: flex-start;
						align-items: center;
						font-size: 1.7rem;
						color: $color-light-one;
						padding-left: 1rem;
						img{
							width: 150px;
							height: 40px;
							margin-top: 10px;
							@media(min-width: $tablet){
								width: 200px;
								height: 50px;
							margin-top:0; 
						}
						}
					}
					.container-menu{
						display: flex;
						justify-content: center;
						align-items: center;
						color: $color-light-one;
						i{
							font-size: 1.7rem;
						}
						@media(min-width: $tablet){
						display: none
						}
					}
				}
			}
		}

	.content-banner-primary-blog-article{
		width: 100%;
		height: 300px;
		background: url("../images/banner-blog-article.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		@media(min-width: $tablet){
			background-size: 100%;
			width: 100%;
			height: 100vh;
		}

		.content-blog-article-page{
			
			.container-title-content{
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 1rem;
				width: 100%;
				height: 100%;
				@media(min-width: $tablet){
				padding: 0;
				}
			
				.item-title{
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					height: auto;
					color: $color-light-one;
					a{
						text-decoration: none;
						color: $color-light-one;
						.item-go-back{
							font-family: $font-family-secundary;
							font-weight: 300;
							font-size: .8rem;
							i{
								padding-right: 8px;
							}
							@media(min-width: $tablet){
							font-size: 1rem;
							}
						}
					}
					.text-title{
						font-weight: 800;
						font-size: 2rem;
						text-align: center;
						@media(min-width: $tablet){
						font-size: 3.7rem;
						}
					}
					.text-sub-title{
						font-family: $font-family-secundary;
						font-weight: 300;
						font-size: .8rem;
						text-align: center;
						@media(min-width: $tablet){
						font-size: 1rem;
						}
					}
					.text-info-blog{
						font-family: $font-family-secundary;
						font-weight: 100;
						font-size: .7rem;
						font-style: italic;
						padding-top: 10px;
						text-align: center;
						@media(min-width: $tablet){
						font-size: 1rem;
						}
					}
				}
			}
	
		}
	}

	.content-description-blog-article{
		width: 100%;
		display: flex;
		justify-content: center;
		background: $color-light-one;
		.container-blog-article-detail{
			width: 90%;
			padding: 3rem 0;
			@media(min-width: $tablet){
			width: 80%;
		}
			.item-text-description{
			font-family: $font-family-secundary;
						font-weight: 300;
						font-size: 1rem;
						text-align: justify;
						line-height: 1.3;
			}
			.img-description-blog{
				width: 100%;
				height: 200px;
				object-fit: cover;
			}
		}
	}

}