.container-sidebar{
		height: 100%;
	    width: 100%;
	    position: fixed;
	    z-index: 999;
	    overflow: auto;
	    top: 0;
	    left: 0;
	    right: 0;
	    display: flex;
	    flex-direction: column;
	    align-items: flex-end;
	    background: $color-light-one;
	    @media(min-width: $tablet){
			position: relative;
			flex-direction: row;
			width: 100%;
			justify-content: flex-end;
			background: none;
		}


		.item-close{
				padding: 1.2rem 20px;
				display: flex;
				justify-content: flex-end;
				i{
					font-size: 1.7rem;
				}
				@media(min-width: $tablet){
				display: none;
				
				}
			}


		.container-items{
			width: 100%;
			list-style: none;
			padding: 0;
			margin: 0;
			@media(min-width: $tablet){
					height: 100%;
			    	width: 50%;
					display: flex;
					justify-content: flex-end;
				}


				li{
					
					    width: 100%;
					    color: $color-dark-one;
					    display: block;
					    padding: 1rem 16px;
					    text-align: left;
					    border: none;
					    white-space: normal;
					    float: none;
					    outline: 0;
					    text-decoration: none;
					    &:hover{
					    	background: #bebebe;
					    	color:$color-light-one;
					    	}

					    	@media(min-width: $tablet){
					    	color:$color-light-one;

					    	&:hover{
					    	background: none;
					    	color:#bebebe;
					    	}
					    }


					    i{
					    	margin-left: 5px;
					    }

					    a{
					    	text-decoration: none;
					    	color:$color-dark-one;

					    	@media(min-width: $tablet){
					    	color:$color-light-one;

					    	&:hover{
					    	background: none;
					    	color:#bebebe;
					    	}
					    }
					    }

				}

		}
   

}