
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap&subset=latin-ext,vietnamese');

$color-dark-one:#000;

$color-light-one:#fff;

$font-family-alatsi: 'Alatsi', sans-serif;

$font-family-secundary: 'Arial', sans-serif;

$color-red-dark-one:#D00017;

$color-red-one:#FE0000;

$mobile-s:375px;
$mobile:720px;
$tablet:1366px;
$desktop:1920px;
$desktop-x:1440px;
